---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<style>
			h1 {
				color: rgb(255, 255, 255);
				font-size: 3em;
			}

			h2 {
				font-size: 1.5em;
			}

			a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1><b>Contact me!</b></h1>
			<h2 class="mb-1 mt-5">Email</h2>
			<p><a href="mailto:diogosamuelfernandes@outlook.com">diogosamuelfernandes@outlook.com</a></p>
	
			<h2 class="mb-1 mt-5">Other useful links:</h2>
			<p><a href="https://github.com/samyuh">Github</a></p>
			<p><a href="https://twitter.com/maybesamuh">Twitter</a></p>
		  </main>
		<Footer />
	</body>
</html>
