---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>Welcome!</h2>
			<p>
				My name is Diogo Samuel Fernandes, but I'm more commonly known as Samuh! Currently, I am a software engineer at Feedzai.
			</p>

			<p>
				 I hold an MSc. in Informatics and Computer Engineering and am passionate about taking on new challenges and solving intricate problems. My primary interests revolve around distributed systems and machine learning, as they allow me to tackle complex issues, streamline processes, and build reliable, scalable solutions.
			</p>
			
			<p>
				In my leisure time, I like to read books, listen to music, and gazing the stars at night.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
